<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>EnemyHead1.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,2},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>EnemyHead2.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>EnemyHead3.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,2},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>EnemyHead4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>EnemyHead.png</string>
            <key>size</key>
            <string>{94,26}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:909363b066fabe7fb4f9bf2e1a8eb92f$</string>
            <key>textureFileName</key>
            <string>EnemyHead.png</string>
        </dict>
    </dict>
</plist>
