<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Guzzler1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Guzzler2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Guzzler3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,371},{100,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,133}}</string>
                <key>sourceSize</key>
                <string>{100,133}</string>
            </dict>
            <key>Guzzler4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{100,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,165}}</string>
                <key>sourceSize</key>
                <string>{100,165}</string>
            </dict>
            <key>Guzzler5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,200}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Guzzler.png</string>
            <key>size</key>
            <string>{104,717}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ccabffefbf67b989c9bc1a923480111b$</string>
            <key>textureFileName</key>
            <string>Guzzler.png</string>
        </dict>
    </dict>
</plist>
