<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Guzzler1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Guzzler2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Guzzler3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{50,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,67}}</string>
                <key>sourceSize</key>
                <string>{50,67}</string>
            </dict>
            <key>Guzzler4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{50,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,83}}</string>
                <key>sourceSize</key>
                <string>{50,83}</string>
            </dict>
            <key>Guzzler5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,100}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Guzzler.png</string>
            <key>size</key>
            <string>{54,368}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92ed2832d995816147718d6dd57c1338$</string>
            <key>textureFileName</key>
            <string>Guzzler.png</string>
        </dict>
    </dict>
</plist>
